body{
    background-color: gray;
}
.flex-container{
    background-color: white;
    margin: 5px 50px 5px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#calcu{
    background-color: #FF6347;
}
#date{
    Background-color: white;
   }
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

